<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/main.css">
</head>

<body>
  Ratings {%if 'user_email' in session%} <a href="/logout"> Log out </a>
  {%else%} <a href="/login"> Log In </a> {%endif%}
  <a href="/registration"> Sign Up </a> <br>
  <a href="/movies"> Movies </a>
  <a href="/users"> Users </a> <br>

  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>